# Patch configuration file. See the README.txt file in the patch directory for
# information on how this configuration is used.
#
# Each dictionary entry in the "patches" map represents a single patch file.
# Supported key/value pairs are as follows:
#
# - 'name'       Required. The name of the patch file without the .patch
#                extension that will be read from the patches subdirectory.
# - 'path'       Optional. The repository root for the patch file. Defaults to
#                the Chromium "src" root. All patch file contents must be
#                relative to this repository root.
# - 'condition'  Optional. The patch file will only be applied if an environment
#                variable with this name exists.
#
# Each entry should also include a comment linking to the code review or bug
# report that the patch relates to.

patches = [
  # {
  #   # Base Path ArkWeb rule adaptation.
  #   'name': 'base_paths_ohos',
  # },
  #{
  #  # Run Loop ArkWeb rule adaptation.
  #  'name': 'thread',
  #},
  # todo: check
  # {
  #   # Message Pump ArkWeb rule adaptation.
  #   'name': 'message_pump',
  # },
  # {
  #   # Logging ArkWeb rule adaptation.
  #   'name': 'logging',
  # },
]
